body{
    width: 100vw;
    height: 100vh;
    margin: 0px;
    padding: 0px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 100px 1fr 50px;
}
.header{
    display: flex;
    justify-content: center;
}
.content{
    background-color: rgb(136, 176, 255, 4);
    margin: 5px;
    border-radius: 20px;
    display: flex;
    flex-wrap: wrap;
}
.card{
    width: 100px;
    height: 100px;
    background-color: darkkhaki;
    margin: 5px;
    padding: 10px;
    border-radius: 5px;
}