body{
    width: 100vw;
    height: 100vh;
    margin: 0px;
    padding: 0px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 100px 100px 1fr 50px;
}
.header{
    display: flex;
    justify-content: center;
}
.inputButton{
    display: flex;
    justify-content: center;
    align-items: center;
}
.inputButton>button{
    padding: 5px;
}
.inputForm{
    position: absolute;
    z-index: 1;
    transform: scale(1, 0);
    height: 200px;
    width: 200px;
    top: 35%;
    left: 50%;
    background-color: beige;
    text-align: center;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    transition: 0.2s ease-in-out;
}
.active{
    transform: translate(-50%, -50%) scale(1);
    transition: 0.2s ease-in-out;
}
.content{
    background-color: rgb(136, 176, 255, 4);
    margin: 5px;
    border-radius: 20px;
    display: flex;
    flex-wrap: wrap;
}
.card{
    width: 100px;
    height: 100px;
    background-color: darkkhaki;
    margin: 5px;
    padding: 10px;
    border-radius: 5px;
}